/* mini reset */
body {
  margin: 0;
  background: white;
}
body,
h1,
h2,
p,
a,
input {
  color: #555;

  text-decoration: none;
}

/* content styles */
.content {
  max-width: 90%;
  margin: 40px auto 0;
  margin-top: 5%;
}

/* api list styles */
.api-list li {
  padding: 1%;
  margin-bottom: 1%;
  list-style-type: none;
  background: white;
  border: 2px solid #00ced1;
  border-radius: 10px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.titleSection {
  display: flex;
  justify-content: space-between;
}
.bottomSection {
  display: flex;
  flex-direction: column;
}
.api-list .votes {
  position: relative;
  top: -5px;
  z-index: 0;
}
.api-list .upvote {
  cursor: pointer;
  border-radius: 50%;
}
.api-list .upvote:active {
  color: green;
  background: green;
}

.main-nav ul {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

h2 {
  display: flex;
  justify-content: center;
}
